*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", serif;
}

h1{
    color: #E53170;
}

#mail_color{
   color: #6ECBF2;
}

img{
    height: 100%;
    max-width: 130px;
}

.container-cards{
    gap: 15px;
}

.card-info{
    width: 200px;
}

.form-container{
    max-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.form-container h3{
    margin-bottom: 20px;
}

input, button{
    border-radius: 5px;
}