*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", serif;
}

h1{
    color: #E53170;
}

#mail_color{
   color: #6ECBF2;
}

img{
    height: 100%;
    max-width: 130px;
}

.container-cards{
    gap: 15px;
}

.card-team{
    width: calc(100% / 3) - 15px;
}

.card-info{
    width: 200px;
}